export(
AICc, beta.weights, coeffs, coeffs.default, coeffs.glmer, coeffs.gls, coeffs.lme, coeffs.lmer, coeffs.mer, coeffs.spautolm,  dredge, get.models, getAllTerms, getAllTerms.default, getAllTerms.formula, getAllTerms.glmer, getAllTerms.lme, getAllTerms.lmer, getAllTerms.mer, model.avg, par.avg, print.averaging, print.model.selection,
tTable, tTable.default, 
#tTable.gam, tTable.glmer, tTable.gls, tTable.lme, tTable.lmer, tTable.mer, tTable.spautolm, 
 QAIC
)



S3method(print, averaging)
S3method(print, model.selection)

S3Method(tTable, default)
S3Method(tTable, gam)
S3Method(tTable, glmer)
S3Method(tTable, gls)
S3Method(tTable, lme)
S3Method(tTable, lmer)
S3Method(tTable, mer)
S3Method(tTable, spautolm)

S3Method(coeffs, default)
S3Method(coeffs, glmer)
S3Method(coeffs, gls)
S3Method(coeffs, lme)
S3Method(coeffs, lmer)
S3Method(coeffs, mer)
S3Method(coeffs, spautolm)

S3Method(getAllTerms, default)
S3Method(getAllTerms, formula)
S3Method(getAllTerms, glmer)
S3Method(getAllTerms, lme)
S3Method(getAllTerms, lmer)
S3Method(getAllTerms, mer)